body {
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #ffffff;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.border {
    background: #1c1c1c;
    border-radius: 10px;
    border: none !important;
}

.pergunta {
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1, p {
    color: #ffffff;
    text-align: center;
}

.neomorph {
    background: #1c1c1c;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #0a0a0a, -10px -10px 20px #2e2e2e;
    padding: 20px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #1c1c1c;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #0a0a0a, -5px -5px 10px #2e2e2e;
    padding: 10px 20px;
    margin: 10px 0;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: box-shadow 0.3s ease, background 0.3s ease;
}

.btn:hover {
    box-shadow: inset 5px 5px 10px #0a0a0a, inset -5px -5px 10px #2e2e2e;
}

.alternative {
    display: block;
    background: #1c1c1c;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #0a0a0a, -5px -5px 10px #2e2e2e;
    padding: 10px 20px;
    margin: 10px 0;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: box-shadow 0.3s ease, background 0.3s ease;
    width: 100%;
}

.radio-label {
    display: block;
    background: #1c1c1c;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #0a0a0a, -5px -5px 10px #2e2e2e;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: box-shadow 0.3s ease, background 0.3s ease;
}

.radio-label:hover {
    box-shadow: inset 5px 5px 10px #0a0a0a, inset -5px -5px 10px #2e2e2e;
}

input[type="radio"] {
    margin-right: 10px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.card {
    --bs-card-border-width: var(--bt-border-width);
}
