{% extends 'base.html' %}
{% block title %}Devs{% endblock %}

{% block content %}

    <h1 class="display-4 monospace">Desenvolvedores</h1>
    <div class="row justify-content-center">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">

                <div class="card h-100">
                    <img src="{{ url_for('static', filename='img/1.png') }}" class="card-img-top" alt="Lucas Gabriel">
                    <div class="card-body">
                        <p class="card-text text-center">Lucas Gabriel Gomes Aguiar</p>
                    </div>
                    <div class="card-footer text-body-secondary">
                        <p class="card-text text-center">232004506</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='img/2.jpg') }}" class="card-img-top" alt="Eduardo Henrique">
                    <div class="card-body">
                        <p class="card-text text-center">Eduardo Henrique Colacio de Sales</p>
                    </div>
                    <div class="card-footer text-body-secondary">
                        <p class="card-text text-center">232014290</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#            <div class="col">#}
{#                <div class="card h-100">#}
{#                    <img src="{{ url_for('static', filename='img/4.png') }}" class="card-img-top" alt="Jônatas Davi">#}
{#                    <div class="card-body">#}
{#                        <p class="card-text text-center">Jônatas Davi Oliveira Farias</p>#}
{#                    </div>#}
{#                    <div class="card-footer text-body-secondary">#}
{#                        <p class="card-text text-center">232003714</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}
