{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<main class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="centralize">
        <div class="d-flex justify-content-center align-items-center flex-column gap-3">
            <h1 class="text-center">Bem-vindo ao Quiz das EDOs</h1>
            <div class="d-grid gap-3 col-7 mx-auto">
                <a href="{{ url_for('quiz') }}" class="btn btn-success btn-large" type="button">Iniciar Quiz</a>
                <a href="{{ url_for('devs') }}" class="btn btn-primary btn-large" type="button">Desenvolvedores</a>

                {#<a href="{{ url_for('admin') }}" class="btn btn-danger btn-large" type="button">Admin</a>#}

            </div>
        </div>
    </div>
</main>

{% endblock %}
