{% extends 'base.html' %}
{% block title %} Pergunta {% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center flex-column gap-3">
        <div class="border rounded shadow p-5" style="width: 1000px; height:500px;">
            <h1 class="pergunta">{{ questao.pergunta }}</h1>
            <form method="POST" action="{{ url_for('pergunta', question_index=session['question_index']) }}">
                <input type="hidden" name="questao_id" value="{{ questao.id }}">
                {% for alternativa in questao.get_alternativas() %}
                    <div class="alternative">
                        <input class="form-check-input" type="radio" id="resposta" name="resposta" value="{{ alternativa }}" required>
                        <label for="resposta" class="form-label">{{ alternativa }}</label>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Próxima</button>
            </form>
        </div>
    </div>


{% endblock %}
